/* Page 2 Specific Styles */

/* Profile Page Styling */
.profile-info {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-info p {
    font-size: 16px;
    font-weight: 500;
}

.profile-info .form-label {
    font-weight: bold;
}

#big {
    width: 48%;
}


